#params{
    width: 90%;
    padding: 10px;
    text-align: center;
    margin: 10px auto 20px auto;
    font-family: 'Roboto', arial;
    font-weight: 300;
}

#params h1{
    margin-top: 0;
    font-weight: 100;
}


#params table{
    margin: auto;
    margin-bottom: 10px;
}

#params table tr td:first-child{
    text-align: right;
}

#changeDisplay{
    border-radius: 3px;
    border: 0px solid #ccc;
    background-color: #ccc;
    padding: 8px 15px 8px 15px;
    color: #fff;
    cursor: pointer;
    transition: all 0.15s ease;
}

#fightContainer{
    position: relative;
    background-color: #fafafa;
    width: 80%;
    min-width: 300px;
    height: 72vh;
    min-height: 300px;
    overflow: scroll;
    margin: auto;
    z-index: 1;
}

#fight{
    min-width: 2000px;
    min-height: 2000px;
}


.LivingEntityContainer{
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 100px;
}

.LivingEntityCircle {
    /*margin: auto;*/
    width: 30px;
    height: 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid black;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    color: white;
    font-weight: 500;
}

.GoodGuys{
    background: #2ecc71;
}

.BadGuys{
    background: #e74c3c;
}

.Hurt{
    -webkit-animation: hurtBlink 0.5s infinite !important;  /* Safari 4+ */
    -moz-animation: hurtBlink 0.5s infinite !important;  /* Fx 5+ */
    -o-animation: hurtBlink 0.5s infinite !important;  /* Opera 12+ */
    animation: hurtBlink 0.5s infinite !important;  /* IE 10+, Fx 29+ */
}

.Dead{
    background: #95a5a6;
}

.text{
    padding: 5px;
    font-size: 12px;
    /*text-align: center;*/
}

@-webkit-keyframes hurtBlink {
  0%, 50% {
    background-color: #e67e22;
  }
  51%, 100% {
    background-color: #f1c40f;
  }
}


/* input styles */

:focus{outline: none;}
.col-3{text-align: left; display: inline-block; width: 170px; margin: 15px 20px; position: relative;} /* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px "Roboto", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
.effect-16 {border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}
.effect-16 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
.effect-16:focus ~ .focus-border,
.has-content.effect-16 ~ .focus-border{width: 100%; transition: 0.4s;}
.effect-16 ~ label{position: absolute; left: 0; width: 100%; top: 9px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.effect-16:focus ~ label, .has-content.effect-16 ~ label{top: -16px; font-size: 12px; color: #3399FF; transition: 0.3s;}

input[type="range"]{top: 11px;
    position: relative; font: 15px/24px "Roboto", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

input[type="range"] {
    -webkit-appearance: none;  /* Override default CSS styles */
    background-color: #fff;
    border-bottom: 1.8px solid #ccc;
    height: 19px;
    margin: 0 auto;
    margin-top: 5px;
    outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #3399FF;
    width: 14px;
    height: 14px;
    margin-top: 18px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
scale(1.5);
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.5);
}

.effect-17 {border: 0; padding: 4px 0; background-color: transparent;}
.effect-17 ~ label{position: absolute; left: 0; width: 100%; top: 9px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.effect-17:focus ~ label, .has-content.effect-17 ~ label{top: -12px; font-size: 12px; color: #3399FF; transition: 0.3s;}