#params{
    width: 80%;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    margin: 10px auto 30px auto;
}

#params h1{
    margin-top: 0;
}

#params table{
    margin: auto;
    margin-bottom: 10px;
}

#params table tr td:first-child{
    text-align: right;
}

#changeDisplay{
    border-radius: 3px;
    border: 2px solid #27ae60;
    background-color: #2ecc71;
    padding: 5px 10px 5px 10px;
    color: #ecf0f1;
    cursor: pointer;
}

#changeDisplay:hover{
    background-color: #27ae60;
}

#fightContainer{
    position: relative;
    background-color: #fafafa;
    width: 80%;
    min-width: 300px;
    height: 60vh;
    min-height: 300px;
    overflow: scroll;
    margin: auto;
    z-index: 1;
}

#fight{
    min-width: 2000px;
    min-height: 2000px;
}


.LivingEntityContainer{
    display: inline-block;
    position: absolute;
}

.LivingEntityCircle {
    margin: auto;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid black;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    color: white;
    font-weight: bold;
}

.GoodGuys{
    background: #2ecc71;
}

.BadGuys{
    background: #e74c3c;
}

.Hurt{
    -webkit-animation: hurtBlink 0.5s infinite !important;  /* Safari 4+ */
    -moz-animation: hurtBlink 0.5s infinite !important;  /* Fx 5+ */
    -o-animation: hurtBlink 0.5s infinite !important;  /* Opera 12+ */
    animation: hurtBlink 0.5s infinite !important;  /* IE 10+, Fx 29+ */
}

.Dead{
    background: #95a5a6;
}

.text{
    padding: 5px;
    font-size: 12px;
    text-align: center;
}

@-webkit-keyframes hurtBlink {
  0%, 50% {
    background-color: #e67e22;
  }
  51%, 100% {
    background-color: #f1c40f;
  }
}